<!-- Author Banner -->
<div class="author-banner">
    <div class="author-banner-content">
        <span class="author-name">From Jason Turner</span>
        <div class="author-links">
            <a href="https://twitter.com/lefticus" title="Twitter/X" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://mastodon.social/@lefticus" title="Mastodon" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-mastodon"></i>
            </a>
            <a href="https://bsky.app/profile/lefticus.bsky.social" title="Bluesky" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-bluesky"></i>
            </a>
            <a href="https://linkedin.com/in/jasonturner" title="LinkedIn" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-linkedin"></i>
            </a>
            <a href="https://youtube.com/@cppweekly" title="YouTube" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://github.com/lefticus" title="GitHub" target="_blank" rel="noopener noreferrer">
                <i class="fa-brands fa-github"></i>
            </a>
            <a href="https://emptycrate.com" title="Website" target="_blank" rel="noopener noreferrer">
                <i class="fa-solid fa-globe"></i>
            </a>
        </div>
    </div>
</div>
